## To install the connectivity between sql and python

pip install mysql-connector-python

## To check the connectivity

In [3]:
## importing the connector for python

import mysql.connector as connection

In [5]:
## Connecting to the user name and host as localhost with the password of user
## use_pure use complete python connectivity if True else it involves C interfaces.

mysqldb = connection.connect(host='localhost',user='kavu',passwd='root',use_pure=True)

In [6]:
print(mysqldb.is_connected())

True

In [7]:
mysqldb.close()

## Managaging the connection using try except block

In [4]:
try:
    mydb = connection.connect(host='localhost',user='kavu',passwd='root',use_pure=True)
    print(mydb.is_connected())
    mydb.close()
except Exception as e:
    print(str(e))

True

## Basic example triggering some query on Mysql

In [3]:
try:
    mydb = connection.connect(user='kavu',passwd='root',host='localhost',use_pure=True)
    cursor = mydb.cursor()
    query = "Show databases"
    cursor.execute(query)
    print(cursor.fetchall())
except Exception as e:
    mydb,close()
    print(str(e))

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',), ('test1',)]

## Creating some new database

In [5]:
try:
    mydb = connection.connect(user='kavu',host='localhost',passwd='root',use_pure=True)
    print("Connection established")
    cursor = mydb.cursor()
    query = 'Create database students'
    cursor.execute(query)
    print("Database Created successfully")
except Exception as e:
    mydb.close()
    print(str(e))

Connection established
Database Created successfully

In [8]:
## Creating  table

try:
    mydb = connection.connect(database='students',user='kavu',host='localhost',passwd='root',use_pure=True)
    print("Connection established")
    cursor = mydb.cursor()
    query = 'Create table studentDetails(Student_id int(10) Auto_increment Primary Key, First_name Varchar(60),Last_Name varchar(60), RegistrationDate Date, Class Varchar(20),Section varchar(10))'
    cursor.execute(query)
    print('Table created successsfully')
except Exception as e:
    mydb.close()
    print(str(e))

Connection established
Table created successsfully

In [10]:
try:
    mydb = connection.connect(database='students',user='kavu',host='localhost',passwd='root',use_pure=True)
    print("Connection established")
    cursor = mydb.cursor()
    query = "Insert into StudentDetails Values('1234', 'Rajib','Ghosh', '1997-11-11', 'Eleventh','A')"
    cursor.execute(query)
    print('Data inserted')
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

Connection established
Data inserted

In [5]:
try:
    mydb = connection.connect(database='students',user='kavu',host='localhost',passwd='root',use_pure=True)
    print("Connection established")
    cursor = mydb.cursor()
    query = "Select * from StudentDetails"
    cursor.execute(query)
    output = cursor.fetchall()  
except Exception as e:
    mydb.close()
    print(str(e))

Connection established

In [6]:
output

[(1234, 'Rajib', 'Ghosh', datetime.date(1997, 11, 11), 'Eleventh', 'A')]

In [7]:
import pandas as py

In [10]:
df = py.DataFrame(data=output,columns=['id','firstname','lastname','year','class','section'])

In [11]:
df

     id firstname lastname        year     class section
0  1234     Rajib    Ghosh  1997-11-11  Eleventh       A

TypeError: __init__() got an unexpected keyword argument 'usecols'

In [20]:
df['id']

0    1234
Name: id, dtype: int64

In [ ]:
df = pd.