As we are now aware that simple linear regression model uses only one feature for the prediction of label.

So we can represent simple linear regression mathematically as:
    
    y = mx + c
    
    where,
    m,c : are the slopes and intercept respectively (learning will be carried out by algorithm to find these values)
    y : is the label 
    x : is the feature or the input data

Let solve some case study to get a brief knowldege with respect to concept and code for simple linear regression.
You can find the dataset at:

In [ ]:
Case study description:
    
    We have been given data for company which uses different channels like TV, Radio, Newspaper for advertising,  sales for analysis and to get the

In [1]:
# We are importing the libraries required 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
## Loading the data set as dataframe.

data_frame = pd.read_csv('Advertising.csv')

In [3]:
## Checking the first 5 rows of the data 

data_frame.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
## Getting the info for dataset
## We get the information about the data types and null not null count in the particular column or feature used for prediction


data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   radio       200 non-null    float64
 3   newspaper   200 non-null    float64
 4   sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [6]:
## Getting description of dataset
## The describe function is used to check the statistical information about data set with respective to each and every feature or columns in data set

data_frame.describe()

       Unnamed: 0          TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000